@import "variables.css";

.root {
  height: 50px;
}

.tab {
  transition: all 0.5s ease;
  margin: 1em;
  cursor: pointer;
}

.selected {
  color: color(var(--accent-color) blackness(20%)) !important;
}