:root {
  --primary-color: #fff;
  --primary-color-dark: #3F0143;
  --primary-color-light: #fff;

  --accent-color: #009688;

  --text-color: #000;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;

  --divider-color: #BDBDBD;
}
