:root {
  --primary-color: #702076;
  --primary-color-dark: #3F0143;
  --primary-color-light: #A05EA5;

  --accent-color: #009688;

  --text-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;

  --divider-color: #BDBDBD;
}
